{
  "singleQuote": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown-nocjsp",
        "plugins": ["./.config/yarn/global/node_modules/prettier-plugin-md-nocjsp"]
      }
    }
  ]
}
