body {
  max-width: 4800px;
  padding: 10px;
  margin: 0;
}

table {
  border-top: var(--border) 1px solid;
  border-bottom: var(--border) 1px solid;
  table-layout: auto;
}
th { text-align: center }
td { text-align: center }
.tal { text-align: left }
.tar { text-align: right }
.tac { text-align: center }
.nw { white-space: nowrap }

ul {
  padding: 0;
  list-style-type: none;
}

dl dt {
  font-weight: bold;
  margin-top: 8px;
}

h1 {
  border-bottom: var(--border) 2px solid;
  margin-top: 4px;
}
h2 { border-bottom: var(--border) 2px solid }
h3 { border-bottom: var(--border) 1px solid; }
h2, h3, h4, h5, h6 { margin-top: 12px; }

.muted {
  font-size: smaller;
  color: var(--text-muted)
}

.m { font-family: monospace, serif }

ul li {
  margin-left: 8px;
}

.t1 {
  color: gold;
  text-shadow: 0 0 5px darkgoldenrod;
}

.t2 {
  color: limegreen;
  text-shadow: 0 0 1px orangered;
}
.t3 {
  color: lightskyblue;
}
.t4 {
  color: cadetblue;
}

.tc {
  padding: 4px 0;
  margin: 0;
  border-bottom: var(--border) 1px solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tc1 {
  border-top: var(--border) 1px solid;
}
.tca {
  background-color: var(--background);
}
.tcb {
  background-color: transparent;
}
.ti {
  margin: 0;
  padding-left: 1em;
}
.tight {
  padding: 0;
  margin: 0;
}
