:root {
  --border: #0891b2; // border-cyan-600
  --link: #0ea5e9; // text-sky-500
  --normal: #e5e7eb; // text-gray-200
}

.lgnowrap {
  @apply lg:overflow-hidden lg:overflow-ellipsis lg:whitespace-nowrap;
}
.muted {
  @apply text-gray-300 text-sm;
}

body {
  background-color: #202b38;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
}

* {
  color: #dbdbdb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 600;
  border-bottom-color: var(--border);
  padding-left: 4px;
}
h1 {
  font-size: 1.5em;
  font-weight: 600;
  border-bottom-width: 2px;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom-width: 1px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom-width: 1px;
}

h4 {
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom-width: 1px;
}

a {
  color: var(--link);
}

p {
  margin: 12px 8px;
  line-height: 1.5;
}

hr {
  border: 0;
  background-color: var(--border);
  height: 1px;
  margin: 4px 0 4px 0;
}

ul {
  padding: 0;
  list-style-type: none;

  li {
    margin-left: 8px;
  }
}

dl {
  dt {
    font-weight: bold;
    margin-top: 8px;
  }
}

.t1 {
  color: gold;
  text-shadow: 0 0 5px darkgoldenrod;
}

.t2 {
  color: lime;
  text-shadow: 0 0 1px orangered;
}

.t3 {
  color: lightsalmon;
}

.tc {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  > div {
    margin: 0;
    padding-left: 1em;
  }
}

.stc {
  padding: 4px 0;
  margin: 0;
  border-bottom: var(--border) 1px solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tc1 {
  border-top: var(--border) 1px solid;
}

.stc1 {
  margin-top: 6px;
  border-top: var(--border) 1px solid;
}

.tca {
  background-color: #161f27;
}

.vtable {
  border-bottom: var(--border) 1px solid;

  > div {
    display: flex;
    padding: 1px 0;

    > div:first-child {
      width: 48px;
    }

    > div:last-child {
      padding-left: 8px;
    }
  }
}

tr:nth-child(2n + 1) {
  background: #161f27;
}

thead {
  border-bottom: var(--border) 1px solid;
}
table {
  border-bottom: var(--border) 1px solid;
}

article {
  margin-bottom: 48px;

  td {
    padding: 4px 12px;
  }
  p {
    margin: 8px;
  }
  .attr {
    background-color: #161f27;
    border-radius: 6px;
    font-size: 0.9em;
  }
  ul {
    padding-left: 16px;
    list-style: circle;
    li {
      margin-left: 8px;
    }
  }
  table {
    width: auto;
    margin: 8px;
  }
  h3 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  h4,
  h5 {
    padding-left: 4px;
  }
}

.calendar {
  .event {
    padding: 2px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  h3 {
    margin-top: 12px;
  }
  h4 {
    margin-top: 12px;
    border-bottom: var(--border) 1px solid;
  }
}

.more {
  text-align: right;
  font-size: smaller;
  color: var(--text-muted);
  margin-right: 8px;
}

input {
  color: #ffffff;
  background-color: #161f27;
  border: none;
  border-radius: 6px;
  outline: none;
}

ul.vanila {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.pager {
  color: black;
}
